/*--------------------------------GENERAL----------------------------------*/

* {  
    margin: 0;                          
    padding: 0;                     
    box-sizing: border-box;
}
body { 
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
section, footer {
    padding: 1.5rem 1rem;
}
input {
    border: inherit;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}
img {
  display: block;
  width: 100%;
}
a {
    text-decoration: none;            
    color: black;                    
}
li {
    list-style: none; 
} 
h2 {
    font-size: 24px;
}
/*--------------------------------HEADER-----------------------------------*/

nav {
    width: 100%;
    max-height: 23.5rem;
    display: flex;
    flex-direction: column;
}
.nav__titre {
    font-family: "Shrikhand", sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin: 1rem 0;
  }
nav .nav__form {
    background: #EAEAEA;
    display: flex;
    justify-content: space-around;
    padding: 0.938rem 0;
    box-shadow: inset 0px 2px 5px 0px #b9b3b3;
}
nav .nav__form form {
    width: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    gap: 1rem;
}
input {
    font-size: 1rem;
    font-weight: 500;
}
input::placeholder {
    color: black;   
}
.button {
    max-width: 13.625rem;
    height: 3.125rem;
    padding: 0 0.5rem;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border-radius: 3.125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);    
}
.button:hover {
    opacity: 0.70;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.4);
  }

/*---------------------------------MAIN------------------------------------*/

/* INTRODUCTION */

.home__introduction {
    background: #F6F6F6;
    text-align: center;
}
.home__introduction h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 2rem;  
}
.home__introduction p {
    font-size: 1.125rem;
    font-weight: 300;
    margin: 1rem 0;
}
.home h2, .home h3 {
    font-weight: 700;
} 
.home h3 {
    font-size: 18px;
}
.home p {
    font-size: 17px;
    font-weight: 300;
}

/* FONCTIONNEMENT */

/* fonction d'ajout compteur */
.home__fonctionnement--liste {
    counter-reset: numbers;
}
.home__fonctionnement li {
    max-width: 1080px;
    /* width: 95%; */
    height: 70px;
    border-radius: 1.25rem;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin: 1.5rem 0 1.5rem 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*mise en place du compteur sur li   ::before pour avoir les chiffres qui se suivent*/
.home__fonctionnement--liste li::before { 
    content:counter(numbers);
    counter-increment: numbers;
    color: white;
    background: #9356DC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3.125rem;
    position: relative;
    right: 1.15rem;
}
.home__fonctionnement i {
    padding: 0 2rem 0 0.5rem;
}
.fa-list-ul .fa-mobile-screen-button {
    color: #7E7E7E;
}
.fa-store {
    color: #9356DC;
}

/* RESTAURANTS */

.home__restaurants {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    /* gap: 1.125rem;  */
    padding-bottom: 2.5rem;
}
.home__restaurants-groupes {
    max-width: 1080px;
    /* margin: 0 auto; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    display: grid;
}
.home__restaurants--title {
    max-width: 90rem;
    padding: 2.25rem 0 1rem;
}
.home__restaurants article {
    width: 100%;
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
    background: white;
    margin: 0.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.new {
    position: relative;
}
.new::before {
    content:"Nouveau";
    display: grid;
    place-items: center;
    width: 5rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #99E2D0;
    color: #278870;
    border-radius: 0.125rem;
}
.home__restaurants article img {
    height: 10.44rem;
    object-fit: cover;
}
/* .img-high {
    object-position: center -9.9rem ;
}  */
.home__restaurants--info {
    border-radius: 0 0 0.93rem 0.93rem;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}
article a { 
    z-index: 1;
}

    /*! partie--heart */
.home__restaurants--heart {
    width: 3.125rem;
    position: absolute;
    bottom: 3.1rem;
    right: 0.4rem;
    z-index: 10;
}
.home__restaurants--heart i {
    font-size: 1.5rem;
    position: absolute;  
}
.full {
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    opacity: 0;
    /* transition: 1s;  */
}
.empty:hover {
    opacity: 0;
    /* transition: 3s;  */
}
.home__restaurants--heart:hover > .full {
    opacity: 1;
}
/*! fin partie--heart */



/*? ----PARTIE-PAGE-RESTAURANT---- */

/*? header */
nav .fleche-retour {
    position: absolute;
    top: 1.8rem;
    left: 1rem;
}
nav .fleche-retour .fa-arrow-left {
    font-size: 1.3rem;
}
/*? main */
.restaurant__main {
    background: #F6F6F6;
    padding-bottom: 1rem;
}
.restaurant--img {
    width: 100%;
    height:17.188rem;
    object-fit: cover;
    object-position: center;
}
.restaurant__menu {
    background: #F6F6F6;
    position: relative;
    border-radius: 2rem 2rem 0 0;
    max-width: 1440px;
    margin: -2rem 0 0 0;
    padding-bottom: 0.5rem;
    
}
.restaurant__menu--container {
    position: relative;
}
.container__titre {
    font-family: "Shrikhand", sans-serif;
    font-size: 28px;
    font-weight: 400;
    max-width: 76%;
    
}
.restaurant__menu--container .home__restaurants--heart {
    bottom: 2.1rem;
    right: -0.5rem;
}
.restaurant__menu--bouton {
    max-width: 13.625rem;
    height: 3.125rem;
    padding: 0 4.5rem;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border-radius: 3.125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   
}
.restaurant__menu--bouton:hover {
    opacity: 0.70;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.4);
}
/*? menu */
.restaurant__menu--entrees {
    width: 100%;
    max-width: 39.625rem;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    background-color: #F6F6F6;
}
.restaurant__menu--plats {
    width: 100%;
    max-width: 39.625rem;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    background-color: #F6F6F6;
}
.restaurant__menu--desserts {
    width: 100%;
    max-width: 39.625rem;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    background-color: #F6F6F6;
}
.restaurant__menu--titre {
    width: 2.5rem;
    font-size: 16px;
    font-weight: 300;
     text-transform: uppercase;/* mettre en maj */
    border-bottom: 3px solid #99E2D0;
    height: 24px;
    margin: 2.5rem 0 0; 
}
.titre-top {
    margin: 1.5rem 0 0;
}
.plat {
    background-color: #fff;
    border-radius: 15px;
    margin: 12px 0;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   
}
.plat__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plat__description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.plat__prix {
    padding-right: 0.5rem;
}
/*? ----FIN-PARTIE-PAGE-RESTAURANT---- */

/*--------------------------------FOOTER-----------------------------------*/
footer {
    background-color: #353535;
    color: white;
}
.footer__titre {
    font-family: "Shrikhand", sans-serif;
    font-weight: 200;
    padding-bottom: 1rem;
    font-size: 1.125rem;
}
.footer__link {
    color: white;
    line-height: 1.7;
}


/* ----------------------------MEDIA-QUERIES--------------------------------- */


@media screen and (min-width: 768px) {

    /* index.html */
    .home__introduction h1 {
        font-size: 2.5rem;   
    } 
    .home__fonctionnement {   
         max-width: 1080px;
        margin: 0 auto;
    }
    .home__fonctionnement--liste {    
        display: flex;
        justify-content: space-between;
    }
    .home__fonctionnement li {
        margin: 1.5rem 0 1.5rem 0.5rem;
        width: 30%;
    }
    .home__restaurants-groupes {
        grid-template-columns: 1fr 1fr;
        gap: 25px 50px;
    }
    /* .img-high {
        object-position: center -9.9rem ;
    }  */

    /* restaurant.html */
    .container__titre {
       padding-left: 12rem;
    }
    .restaurant__menu--container .home__restaurants--heart {
        right: 12.5rem;
    }
    .centrage {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {

    /* index.html */
    footer, .footer__titre, .footer__list {
        display: flex;
    }
    footer {
        flex-direction: row-reverse;
        padding: 1.875rem 1.5rem;
    }
    .footer__titre { 
        align-items: center;
        padding-right: 4rem;
    }
    .footer__icon2 {
        padding-right: 0.7rem; 
    }
    .link1 {
        padding-right: 0.7rem; 
    }
    .link2 {
        padding-right: 3rem;   
    }
    .link3 {
        padding-right: 1.5rem;
    }
    .link4{
        padding-right: 5rem;
    }
    .home__restaurants-groupes {
        /* grid-template-columns: 1fr 1fr; */
        gap: 50px 100px;
        margin: 0 180px;
    }
    .home__restaurants--title {
        margin: 0 180px;
        padding: 2rem 0;
    }
    

    /* restaurant.html */

    .restaurant__menu--container {
        padding-top: 0.6rem;
    }
    /* .img-high {
        object-position: center -9.9rem ;
    }  */
    .container__titre {
        padding-left: 21rem;
    }
     .restaurant__menu--container .home__restaurants--heart {
        right: 19.5rem;
    }
    .restaurant__menu--bouton {
        margin: 2.5rem auto 1.5rem;
    }


}
    
