/*--------------------------------GENERAL----------------------------------*/

* {  
    margin: 0;                          
    padding: 0;                     
    box-sizing: border-box;
}
body { 
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
section, footer {
    padding: 1.5rem 1rem;
}
input {
    border: inherit;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}
img {
  display: block;
  width: 100%;
}
a {
    text-decoration: none;            
    color: black;                    
}
li {
    list-style: none; 
} 
h2 {
    font-size: 24px;
}
/*--------------------------------HEADER-----------------------------------*/

nav {
    width: 100%;
    max-height: 23.5rem;
    display: flex;
    flex-direction: column;
}
.nav__titre {
    font-family: "Shrikhand", sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin: 1rem 0;
  }
nav .nav__form {
    background: #EAEAEA;
    display: flex;
    justify-content: space-around;
    padding: 0.938rem 0;
    box-shadow: inset 0px 2px 5px 0px #b9b3b3;
}
nav .nav__form form {
    width: 9.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    gap: 1rem;
}
input {
    font-size: 1rem;
    font-weight: 500;
}
input::placeholder {
    color: black;   
}
.button {
    max-width: 13.625rem;
    height: 3.125rem;
    padding: 0 0.5rem;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border-radius: 3.125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);    
}
.button:hover {
    opacity: 0.70;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.4);
  }
/*---------------------------------MAIN------------------------------------*/

/* INTRODUCTION */

.home__introduction {
    background: #F6F6F6;
    text-align: center;
}
.home__introduction h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 2rem;  
}
.home__introduction p {
    font-size: 1.125rem;
    font-weight: 300;
    margin: 1rem 0;
}
.home h2, .home h3 {
    font-weight: 700;
} 
.home h3 {
    font-size: 18px;
}
.home p {
    font-size: 17px;
    font-weight: 300;
}

/* FONCTIONNEMENT */

/* fonction d'ajout compteur */
.home__fonctionnement--liste {
    counter-reset: numbers;
}
.home__fonctionnement li {
    max-width: 1440px;
    width: 95%;
    height: 70px;
    border-radius: 1.25rem;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    /* margin: 0 auto; */
    margin: 1.5rem 0 1.5rem 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
/*mise en place du compteur sur li   ::before pour avoir les chiffres qui se suivent*/
.home__fonctionnement--liste li::before { 
    content:counter(numbers);
    counter-increment: numbers;
    color: white;
    background: #9356DC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3.125rem;
    position: relative;
    right: 1.15rem;
}
.home__fonctionnement i {
    padding: 0 2rem 0 0.5rem;
}
.fa-list-ul .fa-mobile-screen-button {
    color: #7E7E7E;
}
.fa-store {
    color: #9356DC;
}

/* RESTAURANTS */
.home__restaurants {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 1.125rem; 
    padding-bottom: 4rem;
}
.home__restaurants-groupes {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 1rem; */
}
.home__restaurants--title {
    max-width: 90rem;
    padding: 2.25rem 0 0.25rem;
}
.home__restaurants article {
    width: 100%;
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
    background: white;
    margin: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.new {
    position: relative;
}
.new::before {
    content:"Nouveau";
    display: grid;
    place-items: center;
    width: 5rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #99E2D0;
    color: #278870;
    border-radius: 0.125rem;
}
.home__restaurants article img {
    height: 10.44rem;
    object-fit: cover;
}
.img-high {
    object-fit: cover;
    object-position: center -9.3rem ;
} 
.home__restaurants--info {
    border-radius: 0 0 0.93rem 0.93rem;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
}

/* partie--heart */
article a { 
    z-index: 1;
}
.home__restaurants--heart {
    width: 3.125rem;
    position: absolute;
    bottom: 3.2rem;
    right: 0.4rem;
    z-index: 10;

}
.home__restaurants--heart i {
    font-size: 1.5rem;
    position: absolute;  
}
.full {
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    opacity: 0;
}
.home__restaurants--heart:hover > .full {
    opacity: 1;
}
.empty:hover {
    opacity: 0;
}

/*--------------------------------FOOTER-----------------------------------*/
footer {
    background-color: #353535;
    color: white;
}
.footer__titre {
    font-family: "Shrikhand", sans-serif;
    font-weight: 200;
    padding-bottom: 1rem;
    font-size: 1.125rem;
}
.footer__link {
    color: white;
    line-height: 1.7;
}

